div {
  min-height:100vh;
    color: white;
    border: 2px solid red;
}

.big-img {
    background: url('./big.jpeg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position:center;
}

.small-img {
    background: url('/images/folder-img.jpeg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position:center;
    
}

.folder-img {
    background: url('./big.jpeg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position:center;
}