/* 
CSS BOX MODEL padding margin border */
*{
    margin: 0f;
}
h1,p{
    color: white;
}
h1{
    background: red;
   margin: 32px;

}
p{
    background: blue;
    margin: 40px 60px;
    margin: 5px 10px 30px 60px;
    /* padding: 20px; */
    /* padding:30px  60px; */
    padding: 5px 10px 20px 40px;
}