* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

.container {
    border: 5px solid black;
}

.cell {
    padding: 2rem;
    background: #dedede;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid red;
    color: #fff;
}

.cell-1 {
    background: goldenrod;
}

.cell-2 {
    background: #2090da;
}

.cell-3 {
    background: #20da42;
}

.cell-4 {
    background: #da20d1;
}

.cell-5 {
    background: #18e0da;
}