*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
}
body{
    background: #d3e3fd;
}
.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
}
.nav{
    display: flex;


    border-top-left-radius:5px ;
    background:#ffff;
}
.nav-icons{
    display: inline-block;
    padding: 1.25rem;
}
.space{
    padding-left:1rem;
}