* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
}

body {
    /* background: #d3e3fd; */
    max-width: 1900px;
}


.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.nav {
    margin-top: 2rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-left-radius: 5px;
    background: #ffffff;
}

.nav-icons {
    display: inline-block;
    padding: 1.25rem;
    /* padding-top: 30px; */
}

.space {
    padding-left: 1rem;
}

.nav-search {
    display: inline-block;
}

.google-img {
    border-radius: 0.5rem;
}

.search-bar {
    background: #eceff7;
    border: 2px solid transparent;
    width: 65vw;
    height: 40px;
    padding: 10px 10px;
    border-radius: 1.25rem;
    display: flex;
    /* justify-content: space-between; */
}



@media screen and (min-width:1200px) {
    .search-bar {
        background: #eceff7;
        border: 2px solid transparent;
        width: 75vw;
        height: 40px;
        padding: 10px 10px;
        border-radius: 1.25rem;
        display: flex;
    }
}

@media screen and (max-width:390px) {
    input.search-bar {
        background: #eceff7;
        border: 2px solid transparent;
        width: 55vw;
        height: 40px;
        padding: 10px 10px;
        border-radius: 1.25rem;
        display: flex;
    }

    .fa-star {
        display: none;
    }

    .nav-icons {
        padding: 10px;
    }
}

@media screen and (min-width:1800px) {
    .search-bar {
        background: #eceff7;
        border: 2px solid transparent;
        width: 85vw;
        height: 40px;
        padding: 10px 10px;
        border-radius: 1.25rem;
        display: flex;
    }
}



.search-bar i {
    padding-right: 5px;
}

.nav-star:hover {
    cursor: pointer;
    color: goldenrod;
}

@media screen and (min-width:1200px) {
    .search-bar i {
        padding-right: 5px;
        display: inline;
        margin: 0 0 0 20rem;
    }

}

@media screen and (min-width:1700px) {
    .search-bar-1 i {
        /* padding-right: 5px; */
        display: inline;
        margin: 0 0 0 40rem;
    }

    .search-bar-1 {
        position: relative;
    }

    input.search-control-1 {
        position: absolute;
    }
}

.profile p {
    display: inline-flex;
    margin-left: 0.25rem;
    background: #78909c;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    height: 25px;
    width: 25px;
    padding-bottom: 2px;

}

.extensions {
    margin-right: 0;
    margin-left: 1.5rem;
}

.three-dots {
    margin-left: 1.5rem;
}

.search-bar p {
    display: inline-block;
    text-transform: capitalize;
    opacity: 0.65;
}

p {
    display: inline;
}

.extensions {
    border-right: 2px solid #d3e3fd;
    border-radius: 2px;
    padding-right: 7px;
    cursor: pointer;
}

.search-control {
    display: inline-block;
    width: 100vh;
    padding: 0.65rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    text-transform: capitalize;
    outline: none;
    background: #eceff7;
}

.main-page {
    background: #ffff;
}


.lab {
    display: flex;
    justify-content: end;
}

.lab .flask {
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;

}

.lab a {
    padding-top: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #160000;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.apps {
    padding: 10px;
    padding-top: 23px;
    font-weight: 500;
    padding-right: 30px;
    cursor: pointer;

}

.profile-2 p {
    margin-top: 1rem;
    margin-right: 1.5rem;
    font-size: 20px;
    padding-bottom: 3px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.google-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.google-hero img {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 272px;
    height: 92px;
}

.search-bar-2 {
    background: #eceff7;
    margin: 2rem auto;
    width: 3900px;
    max-width: 320px;
    position: relative;
    height: 30px;
    border-radius: 20px;
    padding-top: 0.75rem;
    padding-bottom: 1.75rem;
    padding-left: 1rem;
    padding-right: 5rem;
}

input.search-control-2 {
    width: 280px;
    max-width: 350px;
    border: none;
    text-transform: capitalize;
    outline: none;
    background: #eceff7;
    position: absolute;

}

@media screen and (max-width:600px) {
    .space {
        padding-left: 0;
        padding-right: 10px;
        /* margin-right: 0.25; */
    }

    .extensions {
        margin: 0;
        display: none;
    }

    .profile {
        display: none;
    }

    .fa-regular,
    .far {
        display: inline-block;
        /* margin-right: 60px; */
    }


}

.web-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 7rem;
}

.web {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e3e1;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 2rem;
}

.web-add {
    background: #d3e3fd;
}

.web img {
    height: 35px;
    padding-top: 3px;
}

.web-names {
    padding-right: 10rem;
    display: flex;
    justify-content: center;
}

.youtube {
    margin-left: 1rem;
    margin-right: 0.75rem;
}