* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
}

body {
    /* background: #d3e3fd; */
    max-width: 1900px;
}


.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.navbar {
    width: 100%;
}

.nav {
    margin-top: 2rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-left-radius: 5px;
    background: #ffffff;
}

.nav-icons {
    display: inline-block;
    padding: 10px;
    /* padding-top: 30px; */
    margin-bottom: 1rem;
}

.space {
    padding-left: 1rem;
}

.nav-search {
    display: inline-block;
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eceff7;
    height: 50px;
    /* width: px; */
    border-radius: 30px;
    padding: 20px;
}

.search-control {
    min-width: 70vw;
    width: 55vw;
    padding: 0.65rem 1rem;
    border: none;
    /* margin-bottom: 1.25rem; */
    text-transform: capitalize;
    outline: none;
    background: #eceff7;
    /* border-radius: 30px; */
    height: 20px;
}

@media screen and (max-width:1200px) {
    .search-control {
        max-width: 90vw;

    }
}




.nav-star:hover {
    cursor: pointer;
    color: goldenrod;
}

.profile p {
    display: inline-flex;
    margin-left: 0.25rem;
    background: #78909c;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    height: 25px;
    width: 25px;
    padding-bottom: 2px;

}

.extensions {
    margin-right: 0;
    margin-left: 1.5rem;
}

.three-dots {
    margin-left: 1.5rem;
}

.search-bar p {
    display: inline-block;
    text-transform: capitalize;
    opacity: 0.65;
}

p {
    display: inline;
}

.extensions {
    border-right: 2px solid #d3e3fd;
    border-radius: 2px;
    padding-right: 7px;
    cursor: pointer;
}


.main-page {
    background: #ffff;
}


.lab {
    display: flex;
    justify-content: end;
}

.lab .flask {
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;

}

.lab a {
    padding-top: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #160000;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.apps {
    padding: 10px;
    padding-top: 23px;
    font-weight: 500;
    padding-right: 30px;
    cursor: pointer;

}

.profile-2 p {
    margin-top: 1rem;
    margin-right: 1.5rem;
    font-size: 20px;
    padding-bottom: 3px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.google-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.google-hero img {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 272px;
    height: 92px;
}

.search-bar-2 {
    background: #ffffff;
    margin: 2rem auto;
    width: 390px;
    max-width: 400px;
    position: relative;
    height: 30px;
    border-radius: 20px;
    padding-top: 0.75rem;
    padding-bottom: 1.75rem;
    padding-left: 1.75rem;
    padding-right: 2rem;
    box-shadow: 1px 0.5px 1px black;
    display: flex;
    justify-content: space-between;
}

input.search-control-2 {
    width: 220px;
    max-width: 350px;
    border: none;
    text-transform: capitalize;
    outline: none;
    background: #ffffff;
    position: absolute;
    margin-left: 25px;
}

.seach-microphone {
    cursor: pointer;
    color: #000;
}

@media screen and (max-width:600px) {
    .space {
        padding-left: 10px;
        padding-right: 10px;
    }

    .extensions {
        margin: 0;
        display: none;
    }

    .profile {
        display: none;
    }

    .fa-regular,
    .far {
        display: inline-block;
    }
}

@media screen and (max-width:320px) {
    .space {
        padding: 0;
    }
}

.web-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 7rem;
}

.web {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e3e1;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 2rem;
}

.web-add {
    background: #d3e3fd;
}

.web img {
    height: 35px;
    padding-top: 3px;
}

.web-names {
    padding-right: 5rem;
    display: flex;
    justify-content: center;
    font-size: 16px;
    /* font-weight: ; */
}

.youtube {
    margin-left: 0.75rem;
    margin-right: 1rem;
}

.google-img {
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 8px;
}