body {
    background: #e6e6e6;
    display: flex;
}

.container {
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-left: 12rem;
    align-items: center;
    gap: 5px;
    /* flex-wrap: wrap; */
}

.heading {
    padding: 0.25rem 2rem;
    margin-left: 21rem;
    position: absolute;
    background: rgb(235, 182, 182);
    border-radius: 20px;
}

.container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    border: 2px solid black;
    transition: all 1s ease-in-out;
}

.container img:hover {
    width: 100%;
}