*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    background: #222;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid #dfdfdf;
    /* border: 6px solid rebeccapurple; */
    width: 100%;
}
.nav-items-container{
    display: flex;
    justify-content:space-evenly ;
    /* flex-direction: column; */
    /* border: 4px solid darkcyan; */
    width: 100%;
}
@media screen and (max-width:500px) {
    .nav-items-container{
        flex-direction: column;
    }
}
.nav-links-container{
    display: flex;
    gap: 30px;
    align-items: center;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}
.link{
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}
.link:hover{
    color:#ff4d4d;
}
.nav-logo{
    color: #fff;
    font-size: 23px;
}
.nav-logo span{
    color: #ff1414;
    font-size: 30px;
}
.hero-img-container{
    height: 100vh;
    /* width: 100%; */
    background-image:url(./images/./hero-3.avif);
    object-fit: cover;
}